{% extends 'layout.html' %}
{% block main %}
    <main id="content" role="main" style="background-color:rgba(43,43,43,255);">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-sidebar navbar-vertical navbar-light ">
        <!-- Navbar Toggle -->
        <button type="button" class="navbar-toggler btn btn-white d-grid w-100" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu">
          <span class="d-flex justify-content-between align-items-center">
            <span class="h3 mb-0">Nav menu</span>
            <span class="navbar-toggler-default">
              <i class="bi-list"></i>
            </span>
            <span class="navbar-toggler-toggled">
              <i class="bi-x"></i>
            </span>
          </span>
        </button>
        <!-- End Navbar Toggle -->
        <!-- Navbar Collapse -->
        <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
          <div class="navbar-brand-wrapper border-end" style="height: auto; background-color: rgba(43,43,43,255);">
            <!-- Default Logo -->
            <div class="d-flex align-items-center mb-3">
              <a class="navbar-brand" href="/" aria-label="Space">
                <img class="navbar-brand-logo" src="../static/svg/logos/logo.png" alt="Logo">
              </a>
              <!-- <a class="navbar-brand-badge" href="/changelog"><span class="badge bg-soft-primary text-primary ms-2">v1.0</span></a> -->
            </div>
            <!-- End Default Logo -->
          </div>
          <div class="docs-navbar-sidebar-aside-body navbar-sidebar-aside-body" style="background-color:rgba(43,43,43,255); height: 100vh;">
            <ul id="navbarSettings" class="navbar-nav nav nav-vertical nav-tabs nav-tabs-borderless nav-sm">
              <li class="nav-item">
                <span class="nav-subtitle">Documentation</span>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/">Introduction</a>
              </li>
              <br>
              <li class="nav-item">
                <span class="nav-subtitle">Getting started</span>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/search">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="./ntrlang">Python to Natural Language</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/debug">Debug</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Navbar Collapse -->
      </nav>
      <!-- End Navbar -->
      <!-- Content -->
      <div class="container">
        <div class="navbar-sidebar-aside-content content-space-md-2" style="height: 110vh">
          <div class="d-flex align-items-center" style="padding-top: 220px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <h1 class="display-5 mb-3" style="color: #f8f7f3; text-align:center;">Create your <span class="typed" data-typed-items=" ideas,  projects,  dreams" style="color:rgba(238,190,176,255); background-color: transparent; "></span>
                <br>with Python programming.
              </h1>
              <p class="lead" style="text-align:center;">Simply type your code and using Machine Learning and AI, Sakura will automatically generate, debug, or describe your code.</p>
              <center>
                <a href="/search">
                  <button type="button" class="btn btn-primary btn-block">Get Started</button>
                </a>
              </center>
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
