{% extends 'layout.html' %}
{% block main %}
<div class="container">
<div class="navbar-sidebar-aside-content content-space-md-2">
   <div class="d-flex align-items-center" style="padding-top: 80px;">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
         <center>
            <h1 class="display-5 mb-3" style="display: inline; color: #f8f7f3; text-align:center; font-size: 3rem;">Understand your </h1>
            <h1 class="display-5 mb-3" style="display: inline; background-image: linear-gradient(90deg, #eebeb0, #F9E9E5); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; text-align:center; font-size: 3rem;">{code}.</h1>
         </center>
         <br>
         <form action="/ntrlang" method="post">
            <div class="form-outline">
               <h1 class="mb-3" style="display: inline; color: #f8f7f3; text-align:center; font-size: 1.5rem; padding-left: 20px;">Input: </h1>
               <br>
               <textarea name="input" id="input" rows="13" style="padding: 25px; border: none; width: 100%; background-color: #171e25; color: white; border-radius: 25px; resize: none; font-size: 13px; font-family: 'Courier Prime', monospace;" required></textarea>
               <!-- <br><center><strong><p>Type in any Python code!</p></strong></center> -->
               <br>
               <br>
               <center>
                  <button type="submit" class="btn btn-primary" style="background-color: #eebeb0; color: black;">
                  <strong>Submit</strong>
                  </button>
               </center>
            </div>
         </form>
         {% if result %} 
         <h1 class="mb-3" style="display: inline; color: #f8f7f3; text-align:center; font-size: 1.5em; padding-left: 20px;">Output: </h1>
         <textarea name="input" id="input" rows="10" style="padding: 25px; border: none; width: 100%; background-color: #171e25; color: white; border-radius: 25px; resize: none; font-size: 13px; font-family: 'Courier Prime', monospace;" readonly>{{ result }}</textarea>
         {% endif %} 
         <div class="col-lg-1"></div>
      </div>
   </div>
</div>
</main>
{% endblock %}